*{
    margin: 0;
    padding: 0;
}
header{
    background-image: url(../image/banner.png);
    min-height: 100vh;
    position: relative;

}
header::before{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: #2d6e70;
    opacity: .8;

}

.header_content{
    width: 90%;
    margin: auto;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);

}
.top-header{
    /* overflow: hidden; */
    padding: 30px 0;
    border-bottom: 1px solid#fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    /* float: left; */
    width: 30%;
}
.logo img{

}
.logo p{
    display: inline;
    color: #ffffff;
    border-left: 2px solid #9e9e9e;
    margin-left: 15px;
    padding-left: 15px;
}
.logo p i{
    margin-right: 10px;
}
nav{

/* float: right; */

width: 50%;
}
nav ul{
    
list-style: none;
    
display: flex;
    
justify-content: space-between;
    
align-items: center;
}
nav ul li{
    
}
nav ul li a{
    text-decoration: none;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 16px;

}
.btn{
    background: #697f7f;
    padding: 10px 15px;
    font-weight: 600;

}
.content{
    width: 90%;
    margin: auto;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.content h1{

color: #fff;

font-size: 40px;
}
.content p{

color: #fff;

margin-bottom: 30px;
}
.btn-learn{

text-decoration: none;

color: #fff;

background: #6fb048;

padding: 10px 25px;

font-size: 18px;

text-transform: uppercase;
transition: .5s;
}
.btn-learn:hover{
    background: #254711;
}
.feature{

width: 90%;

margin: auto;

padding: 50px 0;
}
.feature-heading{

width: 50%;

margin: auto;

text-align: center;

margin-bottom: 50px;
}
.feature-heading h1{

color: #0f5f5c;

font-weight: 400;
}
.feature-heading span{

display: inline-block;

height: 2px;

width: 50px;

background: #0f5f5c;
}
.feature-heading p{

color: #83a7a5;

font-size: 16px;

font-weight: 400;

margin-top: 15px;
}
.feature-content{

display: flex;

justify-content: space-between;
}
.item-one{

width: 30%;

text-align: center;
}
.item-one i{

color: #6fb048;

font-size: 40px;

margin-bottom: 10px;
}
.item-one h5{

color: #0f5f5c;

font-size: 20px;
}
.item-one p{
    
color: #83a7b8;
    
margin-top: 10px;
}
.t-shape{
    width: 90%;
    margin: auto;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}
.extra-feature{

}
.extra-feature-one{

}
.extra-feature-one ul{

}
.extra-feature-one ul li{
    
}
.extra-feature-one ul li i{
    
}
.extra-feature-one ul li i h4*{
    margin: 0;
    padding: 0;
}
header{
    background-image: url(../image/banner.png);
    min-height: 100vh;
    position: relative;

}
header::before{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: #2d6e70;
    opacity: .8;

}

.header_content{
    width: 90%;
    margin: auto;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);

}
.top-header{
    /* overflow: hidden; */
    padding: 30px 0;
    border-bottom: 1px solid#fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    /* float: left; */
    width: 30%;
}
.logo img{

}
.logo p{
    display: inline;
    color: #ffffff;
    border-left: 2px solid #9e9e9e;
    margin-left: 15px;
    padding-left: 15px;
}
.logo p i{
    margin-right: 10px;
}
nav{

/* float: right; */

width: 50%;
}
nav ul{
    
list-style: none;
    
display: flex;
    
justify-content: space-between;
    
align-items: center;
}
nav ul li{
    
}
nav ul li a{
    text-decoration: none;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 16px;

}
.btn{
    background: #697f7f;
    padding: 10px 15px;
    font-weight: 600;

}
.content{
    width: 90%;
    margin: auto;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.content h1{

color: #fff;

font-size: 40px;
}
.content p{

color: #fff;

margin-bottom: 30px;
}
.btn-learn{

text-decoration: none;

color: #fff;

background: #6fb048;

padding: 10px 25px;

font-size: 18px;

text-transform: uppercase;
transition: .5s;
}
.btn-learn:hover{
    background: #254711;
}
.feature{

width: 90%;

margin: auto;

padding: 50px 0;
}
.feature-heading{

width: 50%;

margin: auto;

text-align: center;

margin-bottom: 50px;

margin-top: 50px;
}
.feature-heading h1, .responsive h1{

color: #0f5f5c;

font-weight: 400;
}
.feature-heading span{

display: inline-block;

height: 2px;

width: 50px;

background: #0f5f5c;
}
.feature-heading p, .extra-feature-one p, .responsive p, .client-info p, .details p{

color: #83a7a5;

font-size: 16px;

font-weight: 400;

margin-top: 15px;
}
.feature-content{

display: flex;

justify-content: space-between;
}
.item-one{

width: 30%;

text-align: center;
}
.item-one i{

color: #6fb048;

font-size: 40px;

margin-bottom: 10px;
}
.item-one h5{

color: #0f5f5c;

font-size: 20px;
}
.item-one p{
    
color: #83a7b8;
    
margin-top: 10px;
}

.extra-feature{

display: flex;
justify-content: space-between;
}
.extra-feature-one{

/* display: flex; */

width: 45%;

padding: 50px 0;
}
.extra-feature-one ul{

margin-bottom: 15px;
}
.extra-feature-one ul li{
    
list-style: none;
    
/* font-size: 30px; */
}
.extra-feature-one ul li i{
    
font-size: 30px;
    
color: #6fb048;
}
.extra-feature-one ul li h4{
    
font-size: 25px;
    
color: #0f5f5c;
    
display: inline-block;
    
margin-left: 15px;
}
.extra-feature-one p{

}
.pie{
    text-align: center;
    padding-top: 50px;
}
.template{

background: #eef1ec;

padding: 50px 0;

padding-bottom: 0px;
}
.screen{

width: 90%;

margin: auto;

display: flex;

justify-content: space-between;

align-items: center;
}
.hand{

width: 45%;
}
.hand img{

}
.responsive{

width: 45%;
}
.responsive h1, .details h1{

}
.responsive p{

}
.responsive ul{

list-style: none;
}
.responsive ul li{

color: #83a7a5;

/* margin-right: 15px; */

margin: 10px 0;
}
.responsive ul li i{

margin-right: 15px;
}
.client{

display: flex;

justify-content: space-between;

width: 90%;

margin: auto;

align-items: center;

padding: 50px 0;
}
.client-info{

/* width: 20%; */

width: 45%;
}
.client-info p{

}
.client-info h5{

color: #6fb048;

margin-top: 30px;
}
.client-info h6{
    color: #83a7a5;

}
.client-profile{

width: 30%;
}
.client-profile img{

width: 100%;
}


.map{

width: 90%;

margin: auto;

display: flex;

justify-content: space-between;

background: #eef1ec;

padding: 67px;

align-items: center;
}
.details{

width: 45%;
}
.details h1{

color: #0f5f5c;
}
.details p{
    
}
.world{
    
width: 40%;
}
.table{

width: 60%;

margin: auto;

display: flex;

justify-content: space-between;

margin-bottom: 50px;
}
.pricing{

border: 1px solid #83a7ab;

text-align: center;

padding: 30px 66px;
}
.pricing h5{

color: #6fb048;

font-size: 20px;

text-transform: uppercase;

text-align: center;
}
.pricing h1{

color: #326463;

font-size: 50px;

text-align: center;

margin: 10px;
}
.pricing ul{

list-style: none;

text-align: center;

color: #83a7b8;

margin: 5px 0;
}
.pricing ul li{

}
.pricing input{

text-decoration: none;

color: white;

text-transform: uppercase;

text-align: center;

font-size: 14px;

border: none;

margin-top: 20px;
}
.download{

}
.like{

}
.like h1{

}
.like p{

}
.now{

}
.btn-Download{

}
